<ion-view view-title="8fractals">
  <ion-content>
<div align="center";style="width:100%;border:1px solid black;">
  <img src="./images/fractal_1.jpg" style="margin-top:10px" width="90%" height="auto">
</div>
<div class="list list-inset" style="margin-top:10px">
  <div align="center"><strong>Enter Username and Password</strong></div>
  <label class="item item-input">
    <input type="text" placeholder="Username">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Password">
  </label>
  <div align="center" style="margin-top:10px">
    <a href="#/forms/forgot-password">Forgot Password?</a>
</div>
</div>

<div style="padding-left:20px;padding-right:20px;margin-top:-10px">
  <button style="padding-top:0px" ng-click="login()" class="button button-balanced button-block">
  Login
</button>
</div>
<div style="margin-top:5px" align="center">
  <a href="#/forms/register"> Not a member?</a>
</div>
</ion-content>
</ion-view>
